<footer class="py-8 py-md-11 {{classList}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">

        <!-- Brand -->
        <img src="{{webRoot}}/assets/img/brand.svg" alt="..." class="footer-brand img-fluid mb-2">
        <br >
      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Discover
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              What we do
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Who are we
            </a>
          </li>

        </ul>

      </div>

      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Connect
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Contact Us
            </a>
          </li>
        </ul>
        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item me-3">
            <a href="#!" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item me-3">
            <a href="#!" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item me-3">
            <a href="#!" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Legal
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Terms of service
            </a>
          </li>

        </ul>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>
